@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* Header */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
  padding-left: 10%;
  padding-right: 10%; 
}
.text-center{
    text-align: center;
    font-weight: bold;
}


header
{
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;
}
#plante img{
    width: 100%;
}
.style{
    position: absolute;
    right: 5%;
    font-size: 250%;
    top: 100%;
    color: white;   
}
.row{
    display: flex;
}
.col-3{
    width: 20%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 35%;
    background-color: #053B44;
    color:#D5F31F;
    font-size: 120%;
}
mark{
    background-color: #053B44;
    color: white;
}
strong{
    font-size: 120%;
    color:#D5F31F;
}
.rounded{
    border-radius: 50%;
}

/* Navigation*/
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav a
{
    font-size: 1em;
    color: #1c2126;
    text-decoration: none;
}